<!DOCTYPE html>
<html>
    <img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo"> <!-- I am placing the RHSmith Logo at the beginning. -->
    <head>
        <title>About Giles Oji</title>
    </head>
    <body>
        <h1>This is Giles Oji.</h1> <!-- This is the big, bold text that will appear as the title of the webpage. -->
        <a href="hello" target="_blank"><h3>My Hello Page</h3></a>
        <p>I am a senior Information Systems and Finance double major at UMCP. Three skills of mine:</p>
        <ol>
            <li>Problem Solving</li>
            <li>Data Analytics</li>
            <li>Graphic Design</li>
        </ol>
        <h2>Education</h2> <!-- This is the first section title.  I want my webpage to look almost like a resume. -->
        <p>Giles Oji attends the <strong>Robert H. Smith School of Business</strong> at the University of Maryland, College Park.  He is set to graduate in December 2023 with a bachelor's degree in Information Systems and Finance.</p>
        <h2>Experiences</h2>
        <ul>
            <li><strong>Beats by Dr. Dre</strong> - <em>Branding Strategy & Business Analytics Extern</em></li>
            <li><strong>Ernst & Young</strong> - <em>Technology Risk Business Consulting Intern, Campus Ambassador</em></li>
            <li><strong>SOAL Sound, LLC</strong> - <em>CEO/Lead Artist Manager</em></li>
            <li><strong>Kennedy Krieger Institute</strong> - <em>Undergraduate Researcher</em></li>
            <li><strong>McDonald's (humble beginnings)</strong> - <em>Crew Trainer</em></li>
        </ul>
        <h2>Relevant Coursework</h2>
        <table>
            <tr>
                <th>Course</th>
                <th>Semester Enrolled</th>
            </tr>
            <tr>
                <td>BMGT302</td>
                <td>FA2022</td>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>FA2022</td>
            </tr>
            <tr>
                <td>BMGT340</td>
                <td>FA2022</td>
            </tr>
        </table>
        <h2>Favorites</h2>
        <a href="https://www.youtube.com/" target="_blank"><p>YouTube</p></a>
        <a href="https://music.apple.com/us/browse" target="_blank"><p>Apple Music</p></a>
    </body>
</html>